# Dependency directories
**/node_modules/
node_modules/
dist/

# Files to ignore
.env
.env.local
.env.*.local
*.log
npm-debug.log*

# Build and IDE files
client/dist/
.DS_Store
.vscode/

# Project specifically
server/uploads/
*.mjs
build_log.txt
